<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-Sequel</title>
    <!-- icon-fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- link-bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- local css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
     <link rel="icon" href="/media/schoolinfo/aryavart_vidhya_mandir_logo.png">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="/static/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/static/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="/static/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/static/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/static/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="/static/summernote/summernote-bs4.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


</head>

    {% block custom_css %}
    {% endblock custom_css %}

<body>
  <!-- Button trigger modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">{% block formtitle %}{% endblock %}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {% block addform %}
                {% endblock %}
            </div>
          </div>
      </div>
  </div>
    <div class="{% if request.session.nav %}{{request.session.nav}}{% else %}main{% endif %}" id="mainsidebar">
       {% include 'student/sidebar_template.html' with user=user id=id %}
        <div class="main-display">
            <div class="main-child">
                <div class="controls">
                    <div class="toggler"  onclick = " Updatenav(this)">
                        <i class="toggler-ico"></i>
                    </div>
                    <div class="second"><div class="left"><h3>{{schoolinfo.name}}</h3></div></div>    
                    <div class="right">
                       
                        <div class="view-site">
                            <a href="{% url 'index' %}">View site <i class="fa fa-external-link-alt"></i></a>
                        </div>
                    </div>
                </div>
                 <div class="second">
                    <div class="left">
                        <h3>Dashboard</h3>
                        <div class="location"><a href="#"><span>Home</span></a> / <a href="#">Dashboard</a> </div>
                    </div>
                    <div class="right">
                        <div class="admin-settings">
                            <a href="#">Admin</a>
                            <ul style="display: none;">
                                <a href="{% url 'staffprofile' %}" class="text-dark"><li>Edit Profile</li></a>
                                <a href="{% url 'signout' %}" class="text-dark"><li>Logout</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="third mx-3 my-3">
                  <div class="row">
                {% block table %}

                {% endblock %}
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
    <!-- jQuery -->
<script src="/static/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="/static/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/static/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="/static/jqvmap/jquery.vmap.min.js"></script>
<script src="/static/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="/static/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/static/moment/moment.min.js"></script>
<script src="/static/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/static/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/static/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="/static/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/static/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/dist/js/demo.js"></script>

  var ele = document.getElementsByTagName('input')
  for(var i =0; i<ele.length; i++){
      if(ele[i].className=='' && ele[i].getAttribute('type') != 'checkbox'){
      ele[i].setAttribute('class','form-control col')
      }
      if(ele[i].className=='vTimeField'){
        ele[i].setAttribute('type','time')
      }
      if(ele[i].className=='vDateField'){
        ele[i].setAttribute('type','date')
        ele[i].setAttribute('class','form-control')
      }
  } 
  var sel = document.getElementsByTagName('select')
  for(var i =0; i<sel.length; i++){
      sel[i].setAttribute('class','form-control col')
  }
  
</script>
    <script>
        $('.toggler').click(() => {
            $('.main').toggleClass('nav-active')
        })
        $('.second .right').click(() => {
          $(".admin-settings > ul").toggle()
          $('.second .right ').toggleClass('active')  
        })
        var elem = document.documentElement;
        function cheackFullscreen(){
           console.log(elem.requestFullscreen)
        }
        function Updatenav(){
            console.log("working")
            var nav = $("#mainsidebar").attr('class')
            if(nav=='main'){nav='main nav-active'}else{nav="main"}
            console.log(nav)
            var xhttp = new XMLHttpRequest()
            xhttp.open('GET','{% url 'updatenav' %}?nav='+nav,true)
            xhttp.send()
            xhttp.onreadystatechange = function(){
            if(xhttp.readyState==4 && xhttp.status==200){
            console.log('done')
            }
            }
        }
        
        $( document ).ready(function() {
            if( navigator.userAgent.match(/Android/i)
                || navigator.userAgent.match(/webOS/i)
                || navigator.userAgent.match(/iPhone/i)
                || navigator.userAgent.match(/iPad/i)
                || navigator.userAgent.match(/iPod/i)
                || navigator.userAgent.match(/BlackBerry/i)
                || navigator.userAgent.match(/Windows Phone/i)){
                    $("#mainsidebar").attr('class','main')}
        });
    </script>
    {% block custom_js %}
    {% endblock custom_js %}

</body>

</html>