{% extends 'student/basic.html' %}
{% block table %}
{% block profile %}
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Update Profile</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                

                    
                            {% comment %} Display Messages {% endcomment %}
                            {% if messages %}
                            <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% elif message.tags == "success" %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                            {% endif %}
                        
                            <form role="form" id="profileform" method="POST" action="{% url 'studentprofile' %}">

                    <div class="card-body">
                            {{form1.as_p}}
                                {% csrf_token %}
                            {{form.as_p}}
                            <input type="hidden" id='cpath' name="cpath" value="{{request.get_full_path}}">
                        
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" onclick="$('#cpath').val(window.location);
                        $('#profileform').submit()" class="btn btn-primary">Update Profile</button>  
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                  </div>
                </form>
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
  </section>

 
{% endblock %}
{% endblock %}