{% extends 'staff/basic.html' %}
{% block table %}
<section class="content">
    <div class="container_fluid">
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2 class="text-light">Teaching Schedule</h2>
    </div>
  </nav>
  <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" data-backdrop = 'static' data-keyboard = 'false'>
    Add-Schedule
  </button>


    <h2 style="color: red;">{{message}}</h2>
{% if schedule %}
<center>

<table class="table table-dark" id="table_id">
    <thead>
<tr>
    <th>Class</th>
    <th>Subject</th>
    <th>From</th>
    <th>TO</th>
    <th>Action</th>
</tr>
</thead>
<tbody>
{% comment %} {% for row in schedule %}
<tr class="{% if forloop.counter|divisibleby:2 == False %}bg-primary{% endif %}">
    <td>{{row.Class}}</td>
    <td>{{row.subject}}</td>
    <td>{{row.timefrom}}</td>
    <td>{{row.timeto|time}}</td>
    <td><a href="/staff/schedule/?schedule={{row.id}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
</tr>

{% endfor %} {% endcomment %}
</tbody> 
</table>
{% else %}
    <br><br><h2>You Have No schedule ......!</h2>
</center>
{% endif %}
{% endblock %}
{% block addform %}

    <form action="/staff/schedule/" method="POST">{% csrf_token %}  
        {{forms}}
        <button type="submit" class="btn btn-outline-primary  my-5">Add-schedule</button>
    </form>
{% endblock %}
        
</div>
</section>

{% block formtitle %}Add Schedule{% endblock %}
{% block custom_js %}

<script>
    
    $(document).ready( function () {
    $('#table_id').DataTable();
} );
var data = [{% for row in subjects %}[`{{row.Class}}`,`{{row.subject}}`,`{{row.timefrom}}`,`{{row.timeto|time}}`,`<a href="/staff/schedule/?schedule={{row.id}}" class="btn btn-outline-danger btn-sm">Delete</a>`],{% endfor %}]
dTable = $('#table_id').DataTable( {
        data: data,
        "dom": "lrtip",
        "paging": false 
    } );
    $('input[name=table_search]').keyup(function() {
        dTable.search($(this).val()).draw(); // this  is for customized searchbox with datatable search feature.
    })
    </script>
{% endblock custom_js %}